@using Radzen.Blazor
<table class="table">
    <tbody>              
    <tr>
        <td>
            <img src="@Person.Person.Image" height="100"/><br />
            <a href="@Person.Person.Link"> @Person.Person.Name </a><br />
            @Person.Person.Birthday - @Person.Person.Death<br />
            <label> @Person.Person.Description</label><br />
            <label> Rating:  @Person.Rating</label><br />
            <RadzenRating Stars="10" Style="margin-bottom: 20px" Change="@((args) => RateAsync(@Person.Person.Id, args))"/>
        </td>
    </tr>
    </tbody>
</table>